.Card{
    height: 400px;
    width: 300px;
    padding-left: 8px;
    border: 2px solid black;
    margin-bottom: 15px;
    transition: all .5s;
}

.blue:hover{
    background-color: blue;
}
.green:hover{
    background-color: green;
}
.purple:hover{
    background-color: purple;
}